<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge" >
		<meta http-equiv="Content-type" content="text/html; charset=UTF-8" >
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<title></title>
	</head>
	<body ng-app="app" class="container" >
		<div class="header-inner">
			<h1>Bem vindo ao curso AngularJS</h1>
		</div>

		<div class="well" ng-controller="PrevisaoController" >
			{{tempo}}
			<h3>Demonstração do ng-resource</h3>
			<h3>Previsão do tempo</h3>
			<h3>São Paulo</h3>
			<h3>Local: {{tempo.name}}</h3>
			<h3>Temperatura: {{tempo.main.temp}}</h3>
			<h3>Mínima: {{tempo.main.temp_min}}  C e Máxima: {{tempo.main.temp_max}} C</h3>
		</div>

		<div ng-controller="AppController" >
			<p>Olá, {{nome}} seja bem vindo.</p>
			<div ng-class="{'panel panel-primary':iniciado, 'panel panel-danger':!iniciado}">
				<div class="panel-heading">
					<div class="panel-title" >Situação</div>

				</div>
				<div class="panel-body" >
					<button class="btn btn-sucess" ng-click="comecar();" ng-show="iniciado" >Começar curso</button>
					<button class="btn btn-danger" ng-click="finalizar();" ng-hide="iniciado" >Finalizar curso</button>
					<div ng-click="finalizar();" ng-hide="iniciado">
						Clique aqui para finalizar
					</div>
					</br>
					<div>
						<label>Filtrar por nome: </label>
						<input type="text" ng-model="filtroAluno" />
					</div>
					<p ng-if="!iniciado" >Aguarde</p>
					</br>

					<table class="table"] >
						<tr>
							<th ng-click="ordernarPorNome();" >Nome</th>
							<th ng-click="ordernarPorIdade();" >Idade</th>
						</tr>
						<tr ng-repeat="aluno in alunos" >
							<td>
								{{aluno.nome}}
							</td>
							<td>
								{{aluno.idade}}
							</td>
						</tr>
					</table>

					<li ng-repeat="aluno in alunos | filter : filtroAluno" >
						{{aluno.nome +', '+ aluno.idade}}
					</li>
					</br>
					<p>Preço de custo: {{valor | currency: 'R$'}}.</p>
					<p>Última atualização do sistema: {{hoje | date: 'dd/MM/yyyy'}}</p>


					<h3>Nova inscrição</h3>
					<form name="form_1" >
						<div class="row" >
							<div class="col-md-4" >
								<div class="form-group form-group-default" >
									<label>Nome: </label>
									<input class="form-control" type="text" id="nome_aluno" name="nome_aluno" ng-model="nome_aluno" ng-readonly="!iniciado"/>
								</div>
							</div>
							<div class="col-md-4" >
								<div class="form-group form-group-default" >
									<label>Valor: </label>
									<input class="form-control" ng-type="text" id="valor" name="valor" ng-model="valor" ng-readonly="!iniciado"/>
								</div>
							</div>
							<div class="col-md-4" >
								<div class="form-group form-group-default" >
									<label>Idade: </label>
									<input class="form-control" ng-type="text" id="idade_aluno" name="idade_aluno" ng-model="idade_aluno" ng-readonly="!iniciado"/>
								</div>
							</div>
						</div>
						<div class="row" >
							<div class="col-md-4" >
								<button class="btn btn-primary" ng-click="cadastrar();" ng-disabled="!iniciado" >
									Adicionar
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="container-fluid container-fixed-lg footer" >
			<div class="copyright sm-text-center">
				<p class="small no-margin pull-left sm-pull-reset" >
					<span class="hint-text" >Copyright @2015</span>
				</p>
			</div>
		</div>
		<script src="js/libs/angular.js" type="text/javascript"></script>
		<script src="js/libs/angular-resource.js" type="text/javascript"></script>

		<script src="js/app.js" type="text/javascript"></script>
		<script src="js/controller/app-controller.js" type="text/javascript"></script>
		<script src="js/controller/previsao-tempo-controller.js" type="text/javascript"></script>
		<!--<script  src="js/libs/ngResource.js" type="text/javascript"></script>-->
	</body>

</html>